
#up_script .preview-container img{
    width: 100%;
    display: inline-block;
}


#up_script #fileinput-button{
    margin-bottom: 10px;
}

#up_script .previews  .preview-container .absolute-progress{
    margin-top: 2px;
}
#up_script .previews  .preview-container .loading-indincator{
    margin-top: 3px;
}


#up_script .previews {
    margin-top: 7px;
}

#up_script .previews  .preview-container{
    margin-bottom: 30px;
    cursor: pointer;
    max-width: 31%;
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

#up_script .absolute-progress{
    position: relative;
    z-index: 100;
    width: 92%;
    margin-left: 4%;
    top: 10px;
}

#up_script .absolute-progress .progress .bar {
    height: 20px;
    background: #428bca;
    border-radius: 4px;
    width: 0;
}
#up_script .absolute-progress .progress  {
    height: 20px;
    border-radius: 2px;
    position: absolute;
    top: 3px;
    width: 100%;
}

#up_script .absolute-progress .progress .progress-text{
    color: #000;
    position: absolute;
    text-shadow: none;
    text-align: center;
    width:100%;
    margin: 0;
    font-size: 11px;
    top:3px;
}

#up_script .button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

#up_script .uploader-error .common-error{
}