#abuse-list .preview-cell img{
    max-height: 150px;
}
#abuse-list .buttons-cell{
    width: 25%;
}
#abuse-list td{
    vertical-align: middle;
}

#purge-all-btn{
    position: relative;
    top:-2px;
}