.no-padding {
    padding: 0 !important;
}

th a.asc:after,
th a.desc:after {
    /*display: inline-block;*/
    font-family: FontAwesome;
}

th a.desc:after {
    content: " \f0dd"
}

th a.asc:after {
    content: " \f0de"
}

.grid-view .table tbody .soft-deleted {
    background: #fff4f7;
}

.grid-view .table tbody .soft-deleted:hover {
    background: #f9f9f9;
}

.nowrap {
    white-space: nowrap;
}

.filter-statistic .popover {
    min-width: 335px;
    z-index: 1010;
}

.inline-daterange .datepicker-inline {
    margin: 0 auto;
}

.preset-labels .label {
    margin: 0 10px;
}

.inline-daterange [data-input-name="date_to"] {
    margin-left: 10px;
}

.filter-daterange .block-inline-date {
    max-width: 125px;
}

.block-inline {
    display: inline-block;
}

.panel-link:hover,
.panel-link:active,
.panel-link:focus {
    text-decoration: none;
    opacity: 0.7;
}

