#album-page #uploader{
    position: relative;
    display: inline-block;
}

#album-page #slide-show:hover,
#album-page #slide-show:active,
#album-page #slide-show:focus{
    text-decoration: none;
}


#album-page  #add-image-btn-copy{
    margin-right: 11px;
}



#album-page .uploader-error .content-title{
    bottom: 7px;
    left: 7px;
    right: 7px;
}


#album-page .album-ctrl{
    position: relative;
    top:17px;
}

#album-page #slide-show{
    cursor: pointer;
    font-size: 16px;
}
#album-page #slide-show i.fa{
    vertical-align: middle;
    font-size: 28px;
    margin-right: 7px;
}


#album-page #slide-show > span{
    color:#4e4e4e;
}

.container .blueimp-gallery>.close:hover,
.container .blueimp-gallery>.next:hover,
.container .blueimp-gallery>.play-pause:hover,
.container .blueimp-gallery>.prev:hover,
.container .blueimp-gallery>.title:hover {
    color: #27ae60;
    opacity: 1;
}
.container .blueimp-gallery>.play-pause:hover{
    background-image: url(img/play-pause-hover.svg);
}

.container .blueimp-gallery>.next:hover,
.container .blueimp-gallery>.prev:hover{
    border-color:#27ae60;
}