.clipboard-target { transition: all .2s ease-out; }
.clipboard-target:focus,
.clipboard-target:active,
.clipboard-target:hover,
.clipboard-btn:focus,
.clipboard-btn:active,
.clipboard-btn:hover {
    border-color: #ccc!important;
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.clipboard-target.highlighted { background: yellow!important; }
.clipboard-target-textarea { position: relative;}
.btn-clipboard-textarea { position: absolute; right:35px; top: 10px; }
