.post-btn-group .btn {
    font-size: 24px;
    color: #000000;
    padding: 6px 8px;
}

.post-btn-group .rrssb-buttons {
    height: 50px;
    overflow: hidden;
}

.post-btn-group .rrssb-buttons li {
    height: 50px;
}

@media (min-width: 767px) {

    .post-btn-group .rrssb-buttons li .rrssb-icons {
        font-size: 2.5em;
    }

    .post-btn-group .rrssb-buttons li a {
        min-width: 4em;
    }
}

@media (max-width: 768px) {
    .post-btn-group .rrssb-buttons li .rrssb-icons {
        font-size: 2em;
    }

    .post-btn-group .rrssb-buttons li a {
        min-width: 3.5em;
    }

    .post-block .jumbotron {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.post-btn-group .rrssb-buttons .rrssb-text {
    display: none;
}

.post-btn-group .popover,
.widget-rating .popover {
    z-index: 1010;
}

.post .widget-rating .vote-alert {
    margin: 15px 0 0 30px;
    padding: 13px;
}

.post-bottom .vote-alert.alert-success,
.post-bottom .vote-alert.alert-danger {
    top: -24px !important;
}

.post-bottom .vote-alert.alert-warning {
    min-width: 300px !important;
    top: -24px !important;
    left: 10px;
}

.post .widget-rating [data-vote="comment-vote"] .btn {
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
}

.post .widget-rating-scores [data-vote="comment-vote"] .btn {
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
}

.widget-rating [data-vote="comment-vote"] .btn {
    color: #000000;
}

.post .widget-rating .btn[data-comment-vote="score"] {
    font-size: 18px;
    line-height: 18px;
}

.widget-rating-scores {
    float: right;
    min-width: 90px;
    min-height: 50px;
}

.widget-rating-scores .popover {
    top: -15px !important;
}

.widget-rating-scores [data-rating-type="scores"] [data-comment-vote='up']:active,
.widget-rating-scores [data-rating-type="scores"] [data-comment-vote='up']:focus,
.widget-rating-scores [data-rating-type="scores"] [data-comment-vote='down']:active,
.widget-rating-scores [data-rating-type="scores"] [data-comment-vote='down']:focus {
    box-shadow: none;
}

.widget-rating-scores [data-rating-type="scores"] [data-comment-vote='up'],
.widget-rating-scores [data-rating-type="scores"] [data-comment-vote='down'] {
    text-shadow: 1px 0px 0px #ffffff, -1px 0px 0px #ffffff, 0px 1px 0px #ffffff, 0px -1px 0px #ffffff;
}

.widget-rating-scores [data-rating-type="scores"] [data-comment-vote='up'] {
    left: 33px;
    top: -5px;
}

.widget-rating-scores [data-rating-type="scores"] [data-comment-vote='down'] {
    left: 33px;
    top: 28px;
}

.widget-rating-scores [data-rating="rating-info"] .alert {
    left: -30px;
    top: 36px !important;
}

.post .widget-rating-scores [data-comment-vote="score"] {
    cursor: default;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 6px 12px;
    margin-bottom: 0;
    border-radius: 10px;
    color: #fff;
    float: right;
    font-size: 22px;
    font-weight: 500;
    height: 50px;
    width: 80px;
    line-height: 36px;
    margin-right: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.widget-rating-scores [data-comment-vote="score"].score-success {
    background-color: #b8d794;
    border: 2px solid #9ec779;
}

.widget-rating-scores [data-comment-vote="score"].score-default {
    color: #000000;
    background-color: #dddddd;
    border: 2px solid #e5e5e5;
}

.widget-rating-scores [data-comment-vote="score"].score-danger {
    background-color: #d9534f;
    border: 2px solid #a31514;
}

.widget-rating-scores [data-comment-vote="score"].score-danger:active,
.widget-rating-scores [data-comment-vote="score"].score-danger:hover {
    background-color: #d9534f;
}

.post-bottom [data-vote="comment-vote"] [data-comment-vote="up"],
.post-bottom [data-vote="comment-vote"] [data-comment-vote="down"] {
    padding: 1px 1px;
}

.post-bottom [data-comment-vote="down"] {
    margin-right: 0px;
}

@media (min-width: 767px) {
    .post-bottom [data-vote="comment-vote"] [data-comment-vote="up"],
    .post-bottom [data-vote="comment-vote"] [data-comment-vote="down"] {
        padding: 1px 5px;
    }

    .post-bottom [data-comment-vote="down"] {
        margin-right: 10px;
    }
}

.widget-rating-scores [data-rating="page"] [data-comment-vote="down"],
.post-bottom [data-rating="page"] [data-comment-vote="down"] {
    color: #b71518;
}

.widget-rating-scores [data-rating="page"] [data-comment-vote].vote-down,
.post-bottom [data-rating="page"] [data-comment-vote].vote-down {
    color: #e8393d;
}

.widget-rating-scores [data-rating="page"] [data-comment-vote="up"],
.post-bottom [data-rating="page"] [data-comment-vote="up"] {
    color: #78a12b;
}

.widget-rating-scores [data-rating="page"] [data-comment-vote].vote-up,
.post-bottom [data-rating="page"] [data-comment-vote].vote-up,
.comment-container [data-rating="comment"] [data-comment-vote].vote-up {
    color: #95c936;
}

.widget-rating-scores [data-rating="page"] [data-comment-vote="down"]:hover,
.post-bottom [data-rating="page"] [data-comment-vote="down"]:hover {
    color: #e8393d;
}

.widget-rating-scores [data-rating="page"] [data-comment-vote="up"]:hover,
.post-bottom [data-rating="page"] [data-comment-vote="up"]:hover {
    color: #95c936;
}