#status-container .progress .progress-text {
    position: absolute;
    top:0;
}

#status-container .absolute-progress{
    margin: 0;
    width: 100%;
}


#status-container .preview-container{
    padding: 0;
}

#navigation-bar .main-logo{
    display: block;
}
#navigation-bar .main-logo:hover{
    text-decoration: none;
}

#navigation-bar .main-logo img{
    width:25px;
    height: 25px;
    margin-bottom: 13px;
}

#album-picker md-select{
    order: 2;
}

#album-picker md-select md-select-label{
    width: 100%;
}
