.editable-wrapper{
    word-wrap: break-word;
    max-width: 100%;
    display: inline;
}


.header-breadcrumbs .author-block{
    max-height: 25px;
}

.header-breadcrumbs > div{
    display: inline;
}

.editable-wrapper ~.popover .popover-content{
    padding: 6px 9px 4px
}
.editable-wrapper ~.popover .popover-content i.fa{
    font-size: 19px;
    cursor: pointer;
}


