.full-uploader-container {
    font-size: 14px;
}

.full-uploader-container .upload-control-container{
    margin-top:30px;
    margin-bottom: 20px;
}

.full-uploader-container .upload-control-container .fileinput-button{
      padding: 13px 27px;
      font-size: 38px;
      line-height: 1.3333333;
      border-radius: 13px;
  }

@media (max-width: 350px) {
    .full-uploader-container .upload-control-container .fileinput-button{
          padding: 10px 20px;
          font-size: 30px;
          line-height: 1.8;
      }
    .container{
        margin-left: 0;
    }
}

.full-uploader-container .upload-control-container .fileinput-button i{
    margin-right: 10px;
    font-size: 50px;
}

.full-uploader-container .upload-control-container .upload-description,
.full-uploader-container .upload-control-container .uploader-container{
    display: inline-block;
    vertical-align: top;
}

.full-uploader-container .upload-control-container .upload-description{
    text-align: left;
    margin-left: 20px;
}

.full-uploader-container .absolute-progress{
    position: relative;
    z-index: 100;
    width: 92%;
    margin-left: 4%;
    top: 10px;
}

.full-uploader-container .progress .bar {
    height: 25px;
    background: #428bca;
    width: 0;
}
.full-uploader-container .progress  {
    height: 25px;
}

.full-uploader-container .progress .progress-text{
    color: #000;
    text-shadow: none;
    text-align: center;
    width:100%;
    margin: 0;
    font-size: 15px;
    top:2px;
}

.full-uploader-container .preview-container{
    padding: 5px;
}


.full-uploader-container #image-urls{
    width: 100%;
    padding: 5px 10px;
}

.full-uploader-container .show-url-upload{
    cursor: pointer;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: underline;
}
.full-uploader-container .show-url-upload:focus,
.full-uploader-container .show-url-upload:active,
.full-uploader-container .show-url-upload:hover{
    text-decoration: underline;
}


.uploader-error{
    cursor: pointer;
}


.uploader-error .common-error{
    background-image: url(../static/i/wrong.png);
    background-size: contain;
}

.uploader-error .image-wrapper-error {
    border:2px solid #ca0303;
}

.absolute-progress{
    position: relative;
    z-index: 100;
    width: 92%;
    margin-left: 4%;
    top: 10px;
}

.absolute-progress .progress .bar {
    height: 25px;
    background: #428bca;
    width: 0;
}
.absolute-progress .progress  {
    height: 25px;
}

.absolute-progress .progress .progress-text{
    color: #000;
    text-shadow: none;
    text-align: center;
    width:100%;
    margin: 0;
    font-size: 15px;
    top:2px;
}

.preview-container{
    padding: 5px;
}

.full-uploader-container .dnd-title-or{
    margin-bottom: 20px;
}

