.im-wr {
    position: relative;
    display: block;
}

.select-indicator{
    position: absolute;
    width: 33px;
    height: 33px;
    top: 15px;
    border-radius: 4px;
    border: solid 2px #a6b2b2;
    left: 15px;
    z-index: 112;
    color:transparent;
    padding-left: 2px;
}

.image-wrapper.selected .select-indicator{
    color:#fff;
    background-color: #66ad65;
    border-color:#66ad65;
    font-size: 2em;
}

.image-wrapper.selected .select-indicator i{
    position: relative;
    bottom:6px;
    left:-1px
}

.image-over .shadow{
    position: absolute;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.75+0,0+68 */

    background: #000;
    opacity: 0.7;

    /*background: -moz-linear-gradient(top,  rgba(0,0,0,.30),transparent 25%, transparent 65%,rgba(0,0,0,.35)); !* FF3.6-15 *!*/
    /*background-image: -webkit-linear-gradient(top, rgba(0,0,0,.30),transparent 25%, transparent 65%,rgba(0,0,0,.35)); !* Chrome10-25,Safari5.1-6 *!*/
    /*background-image: linear-gradient(rgba(0,0,0,.30),transparent 25%, transparent 65%,rgba(0,0,0,.35));*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#00000000',GradientType=0 ); !* IE6-9 *!*/

    z-index: 100;
    width: 100%;
    height: 100%;
}
.uploader-error .content-title{
    position: absolute;
    bottom: 5px;
    left:5px;
    right:5px;
    color: #fff;
    text-shadow: 0 0 2px #000;
    background: transparent;
    background: linear-gradient(transparent 10%,rgba(0,0,0,.45)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.image-over .hover-content a,
.image-over .hover-content{
    color: #fff;
    text-shadow: 0 0 2px #000;
}
.image-over .hover-content .hover-bar{
    position: absolute;
    z-index: 112;
    top:10px;
    font-size: 1.5em;
    right: 15px;
    margin-left: 75px;
}

@media (max-width: 991px) {
    .image-over .hover-content .hover-bar{
        right: 5px;
    }
}

.uploader-error .hover-info,
.image-over .hover-content .hover-info {
    position: absolute;
    z-index: 312;
    bottom:10px;
    padding: 0 15px;
    color: #fff;
    width: 100%;
}

.uploader-error .content-title .content-header,
.image-over .hover-content .hover-info .content-header{
    overflow: hidden;
    font-size: 16px;
    white-space: nowrap;
}

.image-over .hover-content .hover-info .content-info{
    font-size:12px;
}

.image-over .hover-content i:hover{
    color: #27ae60;
}
.image-over .hover-bar i.icon-disabled:hover,
.image-over .hover-bar i.icon-disabled{
    color: #969696;
    cursor: not-allowed;
}

.image-over .hover-bar i{
    margin-left: 15px;
    width: 20px;
    height:20px;
    cursor: pointer;
}

.image-over{
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-block .popover{
    color:#333;
    z-index: 200;
}

