#image-page .main-image-wrapper{
    position: relative;
    width: auto;
    display: inline-block;
    z-index: 300;
}

#image-page #overflow-wrapper{
    text-align: center;
}

#image-page .main-image-wrapper .image-over .shadow{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 79%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 79%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 79%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

#image-page .top-bar .nav-buttons a{
    margin-left: 5px;
}

#image-page .top-bar .nav-buttons{
    margin-bottom: 10px;
}

#image-page #main-image{
    display: block;
}

#image-page #light-gallery{
    cursor: zoom-in;
}




