#main-page .full-uploader-container {
    margin-top: 8%;
    margin-bottom: 23%;
    padding: 2% 0 8%;
    border: 2px dashed lightblue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 991px) {
    #main-page .full-uploader-container {
        width: 100%;
    }

}
@media (max-width: 400px) {
    #main-page .full-uploader-container {
        padding:0;
    }
}