.header-notification .dropdown-toggle{
    max-height: 50px;
}

.header-notification .dropdown-menu {
    min-width: 300px;
}

.header-notification .post-notification {
    padding: 5px 0px;
}

.header-notification .post-notification .col-xs-3 {
    padding: 0px;
}

.header-notification .post-notification .col-xs-3:first-child {
    padding-left: 30px;
}

.header-notification .dropdown-menu .divider {
    margin: 1px 0px;
}

.header-notification .bg-default {
    background-color: #f4f4f4;
}

.header-notification .list-notification {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.header-notification > a.dropdown-toggle{
    padding-top:12px;
}