#plugins-page .plugin-header .title-link{
    font-size: 16px;
    display: block;
}
#plugins-page .plugin-header .help-links{
    font-size: 13px;
    margin-top: 7px ;
}


#plugins-page .instructions > img{
    vertical-align: top;
    max-width: 520px;
}
#plugins-page .instructions > .steps{
    display: inline-block;
}
