.block__list .sortable-ghost {
    opacity: 0.4;
    background-color: #F4E2C9;
}

.block__list [hidden] {
    display: none;
}

.drag-handle {
    font-weight: bold;
    cursor: move;
    cursor: -webkit-grabbing;
}

.selectize-control.multi .selectize-input > div {
    border: 1px solid #cccccc;
}

.medium-editor-content {
    padding: 15px 15px 10px 15px;
    min-height: 3em;
    background: #eee;
}

.medium-editor-content p {
    margin: 0px;
}

.btn-update-post {
    border: none;
}

.manage-right-icons a:hover,
.manage-right-icons a:active,
.toggle-post:hover,
.toggle-post:active,
.btn-update-post:hover,
.btn-update-post:active {
    background: transparent;
    color: #337ab7;
}

.manage-right-icons a i {
    font-size: 1.8em;
}

.post-block {
    margin: 0px 0px 15px 0px;
}

.post-block iframe {
    display: block;
}

.post-block iframe[hidden] {
    display: none;
}

.post .list-view > div:last-child .post-block {
    margin-bottom: 0px;
}

.video-image {
    height: 360px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

}

.gif-player-wrapper {
    position: relative;
}

.gif-player-wrapper .i-gif-play {
    cursor: pointer;
    position: absolute;
    opacity: 0.5;
    top: 50%;
    left: 50%;
    color: #ffffff;
    font-size: 64px;
    margin: -32px 0px 0px -27px;
}

.gif-player-wrapper .i-gif-play:hover {
    opacity: 0.8;
}

.gif-player img {
    cursor: pointer;
}

.gif-player,
.gif-player img,
.gif-player video,
.post-block[data-type="video"] iframe {
    max-width: 100%;
    /*margin: 0 auto;*/
}

[id^='ytThumb-'] {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 315px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

[id^='ytThumb-'] .yt-play-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    opacity: 0.3;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

[id^='ytThumb-'] .yt-replay {
    position: absolute;
    color: #ffffff;
    width: 60px;
    height: 60px;
    font-size: 48px;
    line-height: 60px;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
}

[id^='ytThumb-']:hover .yt-play-shadow {
    opacity: 0.1;
}

.post-block .video-info {
    overflow: hidden;
}

/*
.item-post .post-block .gif-player img::before {
    content: " ";
    display: block;
    background-color: #000000;
}
*/

.item-post .post-block[data-type="image"] img {
    cursor: zoom-in;
}

/* post/index view */

.post-header a, .manage-right-icons a {
    color: #000000;
    text-decoration: none;
}

h1.post-title {
    font-weight: normal;
}

.post-header .post-title a:hover,
.post-header-info > a:hover,
.post-btn-group .btn:hover {
    color: #337ab7;
}

.post-header .post-title {
    font-size: 18px;
    margin-top: 26px;
    padding-right: 55px;
}

.post-header .label-default {
    font-weight: normal;
    background-color: #e6e6e6;
    border: 1px solid #000000;
}

.post-header-info {
    font-size: 16px;
}

.post-header-info .post-comments,
.post-header-info .post-author,
.post-header-info .post-date {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 15px;
}

.post-header-info .post-tags {
    margin-left: 30px;
}

.post-header-info span:first-child {
    margin-left: 0px;
}

.post-content-wrapper,
.post-bottom {
    background-color: #eeeeee;
}

.post-bottom {
    overflow: hidden;
    padding: 0 10px;
}

.post-expand-wrapper {
    overflow-y: hidden;
}

.post-content-bordered {
    border: 1px solid #000000;
}

.post-content-bordered [data-type="text"] {
    padding: 0px 15px;
}

.post-content-bordered [data-type="image"] img {
    margin: 0 auto;
}

.post-bottom .btn-group-rating .btn {
    color: #000000;
    font-size: 24px;
    padding: 0px 5px;
}

.post-bottom .btn-collapse-post {
    text-decoration: underline;
    color: #000000;
}

.extend-wrapper {
    position: relative;
}

.post-content-expand {
    display: block;
    position: absolute;
    top: -50px;
    left: 15px;
    padding: 5px;
    font-size: 16px;
    text-align: left;
    background-color: #000000;
    /*background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AMLChgmF7DUgQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAANSURBVAjXY2BgYKgHAACEAIDGTAlvAAAAAElFTkSuQmCC');*/
}

.post-content-expand:hover {
    background-color: #337ab7;
}

.choose-daterange {
    text-decoration: none;
    color: #777777;
    border-bottom: 1px dashed #777777;
}

.choose-daterange:hover,
.choose-daterange:active {
    text-decoration: none;
    border-bottom: 1px dashed #23527c;
}

.post-filter-panel {
    padding: 10px;
}

.filter-posts .popover {
    min-width: 335px;
    z-index: 1010;
}

.inline-daterange .datepicker-inline {
    margin: 0 auto;
}

.preset-labels .label {
    margin: 0 10px;
}

.inline-daterange [data-input-name="date_to"] {
    margin-left: 10px;
}

.filter-daterange .block-inline-date {
    max-width: 130px;
}

.block-inline {
    display: inline-block;
}

.posts .list-view > .item {
    margin-bottom: 60px;
}

.posts .list-view > .item .hidden-phone.adv {
    margin-bottom: 60px!important;
}

.post-live-at {
    position: relative;
}

.post-live-at .input-group {
    max-width: 270px;
}

.visible-xs-inline-block .rrssb-buttons {
    width: 120px;
}

.visible-xs-inline-block .rrssb-buttons li {
    width: 40px !important;
}

.post-block[data-type="text"] {
    margin: 15px 15px 10px 15px;
}

.post-block[data-type="text"] p {
    margin: 0;
}

.fb-video-wrapper {
    overflow: hidden;
}

a.scroll-post-top,
a.scroll-post-bottom {
    display: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #999;
    height: 40px;
    position: fixed;
    right: 20px;
    text-align: center;
    text-indent: -9999px;
    width: 40px;
    overflow: hidden;
}

a.scroll-post-bottom {
    background: #fff url("../static/i/scroll-post-bottom.png") no-repeat scroll 0 0;
    bottom: 100px;
}

a.scroll-post-top {
    background: #fff url("../static/i/scroll-post-top.png") no-repeat scroll 0 0;
    bottom: 160px;
}

a.scroll-post-top:hover,
a.scroll-post-bottom:hover {
    border-color: #aaa;
}

#editable .form-group,
#editable .help-block {
    margin: 0px;
}

#editable .list-group-item {
    border: none;
    padding: 0px;
    min-height: 50px;
}

#editable .post-block-manage {
    margin: 10px 0px 2px 0px;
}

#editable .list-group-item .visible-xs-block {
    margin: 5px 0px;
}

#editable .post-manage-bottom {
    margin-top: 15px;
    min-height: 35px;
}

#editable .jumbotron {
    margin-bottom: 0px;
}

.post-bottom .widget-rating {
    display: inline-block;
    float: left;
    padding: 10px 0;
    min-width: 60px;
    min-height: 40px;
}

#comments {
    min-height: 150px;
}

.manage-right-icons {
    margin-top: 15px;
}

.manage-right-icons a {
    display: inline-block;
    margin-left: 5px;
}

.related-posts .caption p {
    margin-bottom: 3px;
}

.related-posts .caption p a {
    color: #000000;
    font-weight: 700;
    font-size: 16px;
}

.related-posts .caption p a:hover,
.related-posts .caption p a:active,
.related-posts .caption p a:focus {
    color: #337ab7;
    text-decoration: none;
}

.related-posts .related-post {
    margin-bottom: 20px;
}

.related-posts .related-post:last-child {
    margin-bottom: 0px;
}

/** NEW LAYOUT **/

.post-header-main {
    width: 100%;
}

h1.p-title {
    margin: 0;
    line-height: 24px;
}

.p-title {
    padding-right: 20px;
}

.post-title {
    color: #010101;
    font-size: 22px;
    line-height: 24px;
}

.post-title:hover {
    color: #337ab7;
    text-decoration: none;
}

.top-tag {
    margin-top: 5px;
    padding-bottom: 2px;
}

.post-admin {
    width: 100%;
    height: auto;
    margin-top: 5px;
    padding-bottom: 10px;
}

a.post-author {
    color: #010101;
}

a.post-author:hover {
    text-decoration: none;
    color: #337ab7 !important;
}

.post-author img {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.post-date {
    padding-left: 15px;
}

.post-heading {
    width: 100%;
    height: auto;
}

.vote {
    width: 100px;
    height: 100px;
    background: #f7f5f6;
    border: solid 5px #bebebe;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.extend {
    color: #FFFFFF;
    font-size: 18px;
    /*text-shadow: 2px 2px #000;*/
    display: inline-block;
    padding-right: 15px;
}

.post-header-info {
    font-size: 16px;
    padding-top: 3px;
    margin-bottom: 1px;
}

.nopadding {
    padding: 0px;
}

.post-header .post-title {
    font-size: 18px;
    margin-top: 10px;
    padding-right: 15px;
    margin-bottom: 6px !important;
}

i.mybar {
    margin-left: 5px;
    margin-right: 5px;
}

.btn-group, .btn-group-vertical {
    vertical-align: top;
}

.arrow {
    font-size: 28px;
    color: #5e5e5e;
}

.updown {
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 0px;
}

i.all {
    color: #FFFFFF;
    font-size: 34px;
}

i.star {
    color: #000;
    font-size: 26px;
}

.favi {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 14px;
}

.comment {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 14px;
    vertical-align: top;
}

i.comment {
    color: #000;
    font-size: 24px;
    padding: 0px !important;
}

.comment span {
    padding-left: 5px;
}

.clr {
    clear: both;
}

.btn.btn-xs.btn-default.tag-badge {
    margin-bottom: 4px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

    .mylikebtnup {
        padding: 0px !important;
    }

    .mylikebtndown {
        padding: 0px !important;
    }

    .arm {
        float: left !important;
        margin: 10px 0 10px 10px !important;
    }

    .comm {
        color: #ffffff;
        float: left;
        height: 32px;
        line-height: 24px;
        margin: 12px 9px !important;
        text-align: center;
        width: 35px;
    }

    .p-title {
        padding-right: 10px;
    }

    .post-header-info {
        font-size: 13px;
        padding-top: 5px;
    }

    .vote {
        background: #f7f5f6 none repeat scroll 0 0;
        border: 5px solid #bebebe;
        border-radius: 50%;
        font-size: 25px;
        height: 70px;
        line-height: 61px;
        margin-top: 30px;
        text-align: center;
        width: 70px;
    }

    .updown {
        margin-left: 2px;
        margin-top: 6px;
    }

    .arrow {
        font-size: 20px;
    }

    .favi {
        display: inline-block;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 13px;
        vertical-align: top;
    }

    i.star {
        color: #000;
        font-size: 19px;
    }

    .widget-rating-scores [data-comment-vote="score"] {
        font-size: 18px !important;
        font-weight: 500 !important;
        height: 42px;
        width: 57px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 1900px) {
    .mylikebtnup {
        margin: 0px;
        padding: 0 10px !important;
    }

    .mylikebtndown {
        margin: 0px;
        padding: 0 10px !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .post-bottom .fa.fa-heart {
        color: #5e5e5e;
        font-size: 28px !important;
        margin-top: 4px !important;
    }

    .comm .post-comments {
        color: #5e5e5e;
        font-size: 30px !important;
    }

    .mylikebtnup {
        margin: 0px;
        padding: 0px 2px !important;
    }

    .mylikebtndown {
        margin: 0px;
        padding: 0 4px 0 6px !important;
    }

    .mys img {
        width: 46px;
        height: 46px;
    }

    .favo {
        float: left;
        height: 30px;
        margin: 7px 0 0 8px;
        width: 30px;
    }

    .comm {
        color: #ffffff;
        float: left;
        height: 32px;
        line-height: 24px;
        margin: 8px 8px 0 6px !important;
        text-align: center;
        width: 35px;
    }

    .arm {
        float: left !important;
        margin: 12px 0 7px 8px !important;
    }

    .favo {
        float: left;
        height: 30px;
        margin: 7px 2px 0 6px !important;
        width: 30px;
    }
}

.updownmain {
    display: inline-block;
    vertical-align: middle;
}

.favorite {
    display: inline-block;
    padding-top: 13px;
    padding-bottom: 13px;
}

.comments {
    display: inline-block;
    padding-top: 13px;
    padding-bottom: 13px;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
}

.comments span {
    position: relative;
    color: #FFF;
    font-size: 12px;
    left: -22px;
    top: -4px;
}

.arm {
    float: left !important;
    margin: 10px;
}

.favo {
    float: left;
    width: 30px;
    height: 30px;
    margin: 10px 3px;
}

.comm {
    float: left;
    width: 35px;
    height: 32px;
    margin: 7px 21px;
    text-align: center;
    color: #FFFFFF;
    line-height: 24px;
}

.comm a:hover {
    color: #23527c;
}

.mys {
    float: left;
}

a.sm {
    float: left;
}

a.sm:hover {
    opacity: 0.6;
}

footer {
    margin: 15px 0;
}

.post-bottom .fa.fa-heart,
.post-bottom .fa.fa-heart-o {
    margin-top: 2px;
    font-size: 30px;
    color: #5e5e5e;
}

.post-bottom .fa-heart.active,
.post-bottom .fa.fa-heart:hover,
.post-bottom .fa.fa-heart-o:hover {
    color: #a31514;
}

.comm .post-comments {
    font-size: 34px;
    color: #5e5e5e;
}

.comm .post-comments span {
    color: #fff;
    font-size: 14px;
    position: relative;
    text-align: left;
    top: -37px;
}

.btn-next {
    color: #ffffff;
    background-color: #78a12b;
    border: 1px solid #9ec779;
}

.btn-next:active,
.btn-next:focus,
.btn-next:hover {
    color: #ffffff;
    background-color: #b8d794;
}

.sidebar-fixed {
    top: 70px;
    position: fixed;
}

#sidebar-footer {
    min-height: 500px;
}

#comments-block{
    height: 57px;
    margin-top: -57px;
    visibility: hidden;
}


.top-bar{
    font-size: 16px;
    margin-bottom: 5px;
}

.top-bar .breadcrumb{
    margin-bottom: 0;
    background-color: #fff;
    display: inline-block;
    padding: 0;
}

.top-bar .breadcrumb > li + li:before {
    padding: 0 7px;
    color: #b1b1b1;
    content: "\f178";
}

.top-bar .breadcrumb > li.fa a,
.top-bar .breadcrumb > li.fa span{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.post-bottom .share-chain{
    float:left;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 20px;
    color: #5e5e5e;
}

.post-bottom .share-chain:hover{
    color:#000;
}

.post-bottom  .share-chain .fa{
    position: relative;
    font-size: 30px;
    top: 6px;
    left: 2px;
}