.ar{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.grid-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.content-title{
    padding: 10px;
    background-color: #edecf5;
}

.content-title .content-header{
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
}
.content-title .content-info{
    font-size:11px;
}


.center-cropped {
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.visible-xss-block{
    display: none !important;
}


@media (max-width: 500px) {
    .col-xxs-6{
        width: 50%;
    }
    .visible-xss-block{
        display: block !important;
    }

    .visible-xs-block{
        display: none!important;
    }

}
