@media (max-width: 632px){

    .selection-bar.active .select-all-label{
        width: 40px;
        border-radius: 50%;
        left:-5px;
    }
    .selection-bar.active .select-all-label .label-wrapper{
        display: none;
    }
    .selection-bar.active .help-text{
        display: none;
    }
}
@media (min-width:768px ) and (max-width: 991px){
    .selection-bar.active .status-text{
        margin-left: 10px;
    }

    .selection-bar.active .select-all-label{
        width: 40px;
        border-radius: 50%;
        left:-5px;
    }
    .selection-bar.active .select-all-label .label-wrapper{
        display: none;
    }
    .selection-bar.active .help-text{
        display: none;
    }
}

.selection-bar{
    background-color: transparent;
    margin: 15px 0;
}

.selection-bar .icons,
.selection-bar .status-text{
    display: none;
}

.selection-bar.active .icons{
    display: inline-block;
}

.selection-bar.active .share .fa-share-alt{
     position: relative;
    left: -1px;
    top: 1px;
}
.selection-bar.active .cancel-icon .fa-times-circle{
    position: relative;
    top:1px;
}

.selection-bar.active .status-text{
    margin-left: 7px;
    display: inline-block;
    color:#5a5a5a;
    position: relative;
    font-size: 16px;
}

.selection-bar  .icon-wrapper{
    width: 25px;
    margin-left: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
}

.selection-bar > div{
    vertical-align: middle;
}

.selection-bar.active .icon-wrapper{
    background-color: #fff;
    cursor: pointer;
}

.selection-bar  .icon-wrapper i{
    display: none;
}
.selection-bar.active .icon-wrapper i{
    display: inline-block;
    font-size: 1.5em;
}

.selection-bar.active #select-all{
    color:#fff;
    background:#27ae60;
    text-align: center;
}
.selection-bar.active #select-all i{
    position: relative;
    bottom:5px;
}


.selection-bar #select-all{
    width: 34px;
    height: 34px;
    border-radius: 4px;
    border: solid 2px #27ae60;
    color:transparent;
    font-size: 2em;
    display: inline-block;
    cursor: pointer;
}

.selection-bar #select-all-label{
    font-size: 16px;
    margin-left: 7px;
    color: #5a5a5a;
    cursor: pointer;
    font-weight: normal;
    position: relative;
    top:2px;
}
.selection-bar.active #select-all-label{
    display: none;
}