#share-modal .modal-content .modal-body{
    padding: 0;
}

#share-modal button.close{
    position: relative;
    top:20px;
    right: 28px;
}
#share-modal #share-codes{
    padding: 40px 25px 30px;
}
