[hidden],
input[hidden] {
    display: none;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand img {
    max-width: 238px;
}

.popular-tags .label {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 11px;
    margin-right: 11px;
    padding: 5px 7px 2px 17px;
}

.popular-tags .tag-badge {
    margin-bottom: 11px;
}

.popular-tags .label > .badge {
    position: relative;
    top: -1px;
    font-size: 12px;
}

.tag {
    color: #202020;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0px 1px;
}

.tag:hover,
.tag:focus {
    background-color: #454545;
    color: white;
}

.tag > .badge {
    background: white;
    color: #202020;
    font-weight: normal;
    border: 1px #efefef solid;
}

@media (min-width: 768px) {
    .pull-right-sm {
        float: right !important;
    }
}

#additional-menu-content {
    display: none;
    position: absolute;
    top: 51px;
    left: 10px;
    right: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    max-width: 700px;
    background: #f5f5f5;
    padding: 5px 15px 15px;
    max-height: 400px;
    overflow-y: auto;
    z-index: 1000;

}

#additional-menu-header a {
    display: inline-block;
    height: 50px;
    padding: 15px 15px 15px;
    line-height: 20px;
    color: #9d9d9d;
}

#additional-menu-header a:hover,
#additional-menu-header a:focus {
    text-decoration: none;
    color: white;
}

.menu-content-wrapper .tag {
    display: inline-block;
}

#cat-icon-wrapper img {
    position: relative;
    bottom: -15px;
}

#cat-icon-wrapper {
    text-align: right;
    position: relative;
}

.top-sibebar-block {
    margin-bottom: 5px;
}

.user-avatar .img-thumbnail {
    cursor: pointer;
    max-width: 50px;
    box-sizing: content-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.user-avatar .img-thumbnail img {
    visibility: hidden;
}

.progress .bar {
    height: 21px;
    background: green;
    width: 0;
}

.absolute-progress {
    position: relative;
}

.absolute-progress .progress {
    position: absolute;
    width: 100%;
}

.progress .progress-text {
    color: #ffffff;
    text-shadow: #000 0px 0px 1px;
    position: absolute;
    margin-left: 15px;
    font-weight: bold;
}

.user-avatar .progress {
    height: 5px;
}

.user-avatar .progress .bar {
    height: 6px;
}

a.scroll-to-top {
    display: none;
    background: #fff url("../static/i/scroll-top.png") no-repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    bottom: 20px;
    color: #999;
    height: 40px;
    position: fixed;
    right: 20px;
    text-align: center;
    text-indent: -9999px;
    width: 40px;
    overflow: hidden;
}

a.scroll-to-top:hover {
    border-color: #aaa;
}

.nav .navbar-user > a {
    padding: 5px 15px;
}


#main-navbar{
    z-index: 500;
}


#main-navbar  > .container .navbar-brand{
    background-image: url('/static/i/logo_icon.png');
    background-size: cover;
    width: 37px;
    margin-right: 5px;
    margin-top: 0;
    position: relative;
    bottom: 1px;
}

@media(min-width: 1200px)  {
    #main-navbar  > .container .navbar-brand{
        background-image: url('/static/i/logo.png');
        width: 238px;
        background-size: cover;
        height: 45px;
        margin-top: 0;
    }
}

@media (min-width: 768px){
    #main-navbar .guest-nav{
        margin-left: 15px;
    }
}
.nav .navbar-user > a.dropdown-toggle {
    height: 50px;
    line-height: 38px;
    background-color: #27ae60;
    color:#eee;
}

.nav .navbar-user > a.dropdown-toggle .user-info {
    display: inline-block;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (max-width: 991px) {
    .nav .navbar-user > a.dropdown-toggle {
        padding: 5px 5px;
    }

    .nav .navbar-user > a.dropdown-toggle .user-info {
        max-width: 100px;
    }

}

.nav .dropdown .img-circle {
    display: inline-block;
    height: 40px;
    margin-right: 5px;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: none;
    background: #222;
}

.navbar-header .nav-notification{
    margin: 0;
}

.nav-notification .header-notification.open .dropdown-menu {
    position: absolute;
    left: -188px;
    background-color: #fff;
}

.nav-notification .header-notification .dropdown-toggle{
    padding-top: 12px;
    padding-bottom: 12px;
}

@media (max-width: 767px) {
    .collapsed-user-nav .open .dropdown-menu > li > a {
        padding: 5px 15px;
    }
}

.collapsed-user-nav {
    margin-top: -15px;
}

#social-accounts-table td {
    vertical-align: middle;
}

.custom-avatar-row {
    background: #ecfff0;
}

#build {
    text-align: left;
    max-width: 100%;
    margin: 0 auto;
}

/** NEW LAYOUT **/

a.rlinks {
    color: #000;
    width: 100%;
    border-left: solid 1px #e3e3e3;
    border-right: solid 1px #e3e3e3;
    display: block;
    margin: 0px;
    padding: 9px;
    background: #f5f5f5;
}

a.rlinks:first-child {
    border: solid 1px #e3e3e3;
    border-radius: 4px 4px 0px 0px;
}

a.rlinks:last-child {
    border: solid 1px #e3e3e3;
    border-radius: 0px 0px 4px 4px;
}

a.rlinks:hover {
    text-decoration: none;
    color: #7caf00;
}

.numeric-list {
    list-style: none;
    counter-reset: numeric-list-counter;
}

.numeric-list li:before {
    padding-right: 5px;
    content: counter(numeric-list-counter);
    counter-increment: numeric-list-counter;
}

.custom-avatar-row [data-uploader='progress-container']{
    width: 60px;
    margin-top: 2px;
}

.user-badge{
    font-size: 12px;
    border-radius: 50%;
    padding: 1px 3px 1px 3px;
    margin-right: 5px;
    width: 16px;
    position: relative;
    top: -1px;
    height: 16px;
}

.gray-user-badge{
    background-color: #757575;
}

.open .gray-user-badge,
.user-info:hover .gray-user-badge {
    background-color: #ccc;
}


.green-user-badge{
    background-color: #5E7B09;
}
.open .green-user-badge,
.user-info:hover .green-user-badge {
    background-color: #9AC127;
}

.red-user-badge{
    background-color: #90171A;
}
.open .red-user-badge,
.user-info:hover .red-user-badge {
    background-color:  #E41116;
}

.yellow-user-badge{
    background-color: #84690B;
}
.open .yellow-user-badge,
.user-info:hover .yellow-user-badge {
    background-color: #eec431;
}

.blue-user-badge{
    background-color: #03578A;
}
.open .blue-user-badge,
.user-info:hover .blue-user-badge {
    background-color: #0082D2;
}

.user-info .user-label-text{
    display: inline-block;
    line-height: 1.4;
    position: relative;
    top:2px;
}

.dropdown-header{
    color: #777
}
.collapsed-user-nav .dropdown-header{
    color: #e8e8e8
}

.navbar-user {
    height: 50px;
}

button.close {
    float: right;
    position: static;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
button.close:hover,
button.close:focus {
    color: #000;
    position: static;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
    padding: 0;
    background: transparent;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.navbar-collapse .divider
#main-navbar-collapse .dropdown-menu .divider {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}
@media (max-width: 767px){
    .navbar-collapse .divider,
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }
}

.dashed-link,
.dashed-link:hover,
.dashed-link:active,
.dashed-link:focus{
    text-decoration: none;
    border-bottom: 1px dashed;
}

.underlined-link,
.underlined-link:hover,
.underlined-link:active,
.underlined-link:focus{
    text-decoration: underline;
}
.disabled-link,
.disabled-link:hover,
.disabled-link:active,
.disabled-link:focus{
    cursor: not-allowed!important;
    color: #aaaaaa;
}


.btn-pah:active,
.btn-pah:focus,
.btn-pah:hover{
    color:#fff;
    background-color: #2d954a;
}
.btn-pah{
    color:#fff;
    background:#27ae60;
    border:1px solid #2d954a;
}

.pah-color{
    color: #9e9e9e;
}


.pah-green{
    color: #27ae60;
}
.pah-green:active,
.pah-green:focus,
.pah-green:hover{
    color: #2d954a
}

.pah-color:active,
.pah-color:focus,
.pah-color:hover{
    color: #27ae60;
}


#main-navbar{
    height: 50px;
}

#main-navbar .nav > li.special-item > a{
    color:#222;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 13px;
    border-radius: 5px;
}

#main-navbar .special-item{
    position: relative;
    top:10px;
    border-radius: 5px;
}

#main-navbar .special-item,
#main-navbar .navbar-right .navbar-user{
    background: #00c047;
}

#main-navbar .special-item:hover,
#main-navbar .navbar-right > .open.navbar-user > a:focus {
    background: #299048;
}

.path-delimiter{
    display: inline-block;
    color:#cdcdcd;
    margin: 0 15px;
}


.author-header,
a.post-author
{
    color:#4e4e4e;
}


.post-author img{
    margin-right: 10px;
}

.top-post-info{
    margin:10px 0;
    font-size: 16px;
}

.post-by-user{
    margin-left: 45px;
}

.top-post-info .post-date{
    padding: 0;
    margin-right: 15px;
}


.author-header{
    font-size: 24px;
}

.container .pagination > .active > a,
.container .pagination > .active > span,
.container .pagination > .active > a:hover,
.container .pagination > .active > span:hover,
.container .pagination > .active > a:focus,
.container .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #27ae60;
    border-color: #27ae60;
}

.container .pagination > li > a,
.container .pagination > li > span {
    color: #9e9e9e;
}

.search-form .select-control{
    border-radius: 0;
    margin-left: -1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-form #select-box-arrow{
    font-size: 14px;
    position: absolute;
    z-index: 5;
    top: -7px;
    right: 6px;
    color: #888;
}


.search-form .input-group-btn{
    width: auto;
}

.search-form .select-wrapper{
    position: relative;
    display: inline;
}

@media (min-width: 768px){
    #hided-menu .navbar-form .input-group > .form-control {
         width: auto;
    }
}

#hided-menu .search-form .select-wrapper{
    display: inline-block;
    top: -5px;
}

#hided-menu .search-form .select-wrapper #select-box-arrow{
    font-size: 14px;
    position: relative;
    z-index: 5;
    top: 8px;
    right: 17px;
}

#hided-menu .search-form .input-group-btn .btn-search{
    left:-10px;
}

#main-navbar .nav > li > a{
    padding-left: 10px;
}


@media (max-width: 768px) {
    .navbar-header {
        float: left;
    }

    .navbar {
        border-radius: 4px;
        min-width: 300px;
    }

    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #fff;
    }

    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin-bottom: 0;
    }

    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }

    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }

    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
    .navbar-right .dropdown-menu-left {
        right: auto;
        left: 0;
    }
    .container {
        min-width: 300px;
    }

    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }

    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }

    .navbar-static-top {
        border-radius: 0;
    }

    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }

    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
    }

    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio input[type="radio"],
    .navbar-form .checkbox input[type="checkbox"] {
        float: none;
        margin-left: 0;
    }
    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }

    .navbar-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-form.navbar-right:last-child {
        margin-right: -15px;
    }

    .navbar-text {
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }
    .navbar-text.navbar-right:last-child {
        margin-right: 0;
    }
}

#hided-menu .dropdown > a{
    padding-top:5px;
    padding-bottom:15px;
}
#hided-menu .dropdown > a > i{
    font-size: 29px;
    position: relative;
    top:5px;
}

#main-navbar-collapse > .search-form{
    float: right;
    display: none;
}


@media (min-width: 992px) {
    #hided-menu{
        display:none;
    }
    #main-navbar-collapse > .search-form{
        display: block;
    }
}


@media (max-width: 767px){

    #main-navbar-collapse .header-notification .dropdown-menu {
        min-width: 300px;
    }
     #main-navbar-collapse .open .dropdown-menu > .active > a,
     #main-navbar-collapse .open .dropdown-menu > .active > a:hover,
     #main-navbar-collapse .open .dropdown-menu > .active > a:focus {
        color: #fff;
        text-decoration: none;
        background-color: #337ab7;
        outline: 0;
    }

     #main-navbar-collapse .dropdown-menu {
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: left;
        min-width: 160px;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }

     #main-navbar-collapse .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }

     #main-navbar-collapse .dropdown-menu > li > a:hover,
     #main-navbar-collapse .dropdown-menu > li > a:focus {
        color: #262626;
        text-decoration: none;
        background-color: #f5f5f5;
    }
}

#hided-menu .button-icon .dropdown-menu li{
    display: none;
}

@media (max-width: 720px) {
    #hided-menu .button-icon .dropdown-menu{
        left:-130px;
    }
}

@media (max-width: 580px){
    #hided-menu .button-icon .dropdown-menu li:nth-of-type(4){
        display: block;
    }

    #header-menu  li:last-child{
        display: none;
    }

}

@media (max-width: 510px){
    #hided-menu .button-icon .dropdown-menu li:nth-of-type(3){
        display: block;
    }

    #header-menu  li:nth-last-child(2){
        display: none;
    }

    #main-navbar-collapse .header-notification .dropdown-menu{
        right:-75px;

    }
    #hided-menu .button-icon .dropdown-menu{
        left:-110px;
    }
}

@media (max-width: 440px){
    #hided-menu .button-icon .dropdown-menu li:nth-of-type(2){
        display: block;
    }

    #header-menu  li:nth-last-child(3){
        display: none;
    }

    #hided-menu .search-form .input-group > .form-control{
        max-width: 140px;
    }
}

@media (max-width: 350px){
    #hided-menu .button-icon .dropdown-menu li:nth-of-type(1){
        display: block;
    }

    #header-menu  li:nth-last-child(4){
        display: none;
    }

    #hided-menu .dropdown .dropdown-menu {
        width: 300px;
        left: -45px;
    }

    #hided-menu .search-form .input-group > .form-control{
        max-width: 110px;
    }
}
.title-icons a:hover,
.title-icons a:focus {
    text-decoration: none;
}


#main-navbar #hided-menu .special-item{
    color:#fff;
}


.title-icons a{
    margin-left: 15px;
    vertical-align: top;
}

.title-icons a .fa-edit{
    position: relative;
    top:1px;
}


@media (max-width: 400px) {
    .container{
        margin-left: 0;
    }
}

.add-image-btn {
    position: relative;
    padding: 4px 10px;
}

.add-image-btn span {
    font-size: 18px;
    vertical-align: middle;
}

 .add-image-btn > i {
    vertical-align: middle;
    margin-right: 5px;
}


.modal-content .dnd-area-show{
    margin: 10px;
    border: 2px dashed lightblue;
}

.uploader-modal .modal-content{
    margin-bottom: 20px;
}

.dropdown-sorter .fa {
    margin-left: 5px;
}

.dropdown-sorter{
    right:2px;
}

.dropdown-sorter .sorting-label{
    font-size:16px;
}

.pagination{
    margin-right: 15px;
    vertical-align: top;
    position:relative;
}

.per-page.pagination {
    width: auto;
    vertical-align: top;
}
.per-page-label{
    vertical-align: top;
    position: relative;
    top: 6px;
    margin-right: 10px;
}

.summary{
    display: inline-block;
    vertical-align: top;
    padding: 6px 15px;
    top: 20px;
    position: relative;
    margin-right: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.dropdown-toggle > i{
    margin-left: 5px;
}

.thumb-lock-icon{
    position: absolute;
    text-shadow: 0 0 6px #000;
    font-size: 3em;
    color: #fff;
    /*color:#27ae60;*/
    right: 20px;
    top: 10px;
    z-index: 10;
}

.editable-wrapper{
    word-wrap: break-word;
    max-width: 100%;
    display: inline;
}


.header-breadcrumbs .author-block{
    max-height: 25px;
}

.header-breadcrumbs > div{
    display: inline;
}

.editable-wrapper ~.popover .popover-content{
    padding: 6px 9px 4px
}
.editable-wrapper ~.popover .popover-content i.fa{
    font-size: 19px;
    cursor: pointer;
}



