.upload-container #fileinput-button{
    margin-bottom: 10px;
}

.upload-container .previews  .preview-container .absolute-progress{
    margin-top: 2px;
}
.upload-container .previews  .preview-container .loading-indincator{
    margin-top: 3px;
}

.upload-container .previews  .preview-container{
    margin-bottom: 30px;
}

.upload-container .absolute-progress .progress {
    position: relative;
    margin-bottom: 3px;
}

#input-album-id{
    display: inline-block;
    width: auto;
}