.album-cover{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
}

.album-cover li{
    position: absolute;
    width: 50%;
    height:50%;
    list-style: none;
}

.album-cover li:nth-child(1){
    top: 0;
    left:0;

}
.album-cover li:nth-child(2){
    top: 0;
    left:50%;
}

.album-cover li:nth-child(3){
    top: 50%;
    left:0%;
}

.album-cover li:nth-child(4){
    top: 50%;
    left:50%;
}

.album-thumb-item .content-title{
    background-color: #fff;
    border: 1px solid #edecf5;
    border-top: none;
}

.album-cover,
.special-list-wrapper .sl-thumb
{
    border: 1px solid #edecf5;
}

.album-thumb-item .content-title{
    padding: 10px;
}

.album-thumb-item .content-title .album-title{
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
}
.album-thumb-item .content-title .album-info{
    font-size:11px;
}

#albums-content{
    margin-left: -7px;
    margin-right: -7px;
    margin-top: 15px;
}

#albums-content .album-thumb-item{
    padding: 7px;
    overflow: visible;
}


#find-in-mine-btn{
    font-size: 18px;
}
.album-thumb-item .image-over .hover-content .hover-bar {
    margin-left: 0;
    right: auto;
}
