.profile-container .profile-header {
    min-height: 100px;
    margin: 15px 15px 20px 15px;
    border-right: 1px solid #eee;

}
.page-header .header-title {
    margin-left: 20px;
}
/*.page-header .header-title h1 {
    text-transform: capitalize;
}*/
.profile-container .well {
    padding: 0;
}
.profile-container .profile-header .profile-info {
    min-height: 125px;
    border-right: 1px solid #DCD9D9;
    padding: 15px 40px 35px 0;
}
.profile-container .profile-header .profile-info .header-fullname {
    font: 21px 'Roboto','Lucida Sans','trebuchet MS',Arial,Helvetica;
    margin-top: 30px;
    display: inline-block;
}

.profile-container .profile-header .header-avatar {
    width: 75px;
    height: 75px;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    border: 5px solid #f5f5f5;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.15);
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    margin: 25px auto;
}
.profile-container .profile-header .stats-col .stats-value {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}
.pink {
    color: #e75b8d !important;
}

.profile-container .profile-header .stats-col:not(:last-child) {
    border-right: 1px solid #DCD9D9;
}
.profile-container .profile-header .stats-col {
    min-height: 125px;
    padding: 30px 0;
    text-align: center;
}
.profile-container .nav-tabs.nav-justified > .active > a {
    border: 1px solid #ddd;
}
.list-view {
    margin-top: 60px;
}
.list-view > .item {
    margin-bottom: 60px;
}

