

.calc-height-columns(@index, @class, @ratio-width, @ratio-height) when  (@index > 0) {
  .ar-@{ratio-width}-@{ratio-height} .ar.col-@{class}-@{index} {
    padding-bottom: percentage((@index / @grid-columns) * (@ratio-height / @ratio-width));
  }
}

// Generate class holder for elems without any bootstrap cols- classes
.calc-ar-holder(@ratio-width, @ratio-height){
  .ar-@{ratio-width}-@{ratio-height} .ar{
    padding-bottom: percentage(@ratio-height / @ratio-width);
  }
}

// Basic looping in LESS
.loop-grid-columns-height(@index, @class, @ratio-width, @ratio-height) when (@index >= 0) {
  .calc-height-columns(@index, @class, @ratio-width, @ratio-height);
  // next iteration
  .loop-grid-columns-height((@index - 1), @class, @ratio-width, @ratio-height);
}

.calc-ar(@index, @class, @ratio-width, @ratio-height){
  .loop-grid-columns-height(@grid-columns, @class, @ratio-width , @ratio-height);
  .calc-ar-holder(@ratio-width, @ratio-height);
}


// Create grid for specific class
.make-grid-height(@class) {
  .calc-ar(@grid-columns, @class, 1 , 1);
  .calc-ar(@grid-columns, @class, 4 , 3);
  .calc-ar(@grid-columns, @class, 2 , 1);
  .calc-ar(@grid-columns, @class, 1 , 2);
}

.grid-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
