/*  Style for smart banner  */
.smartbanner {
    position: fixed;
    bottom: 0;
    background: white;
    height: 50px;
    width: 100%;
    z-index: 100;
		text-align: center;
}
.smartbanner .close {
    position: absolute;
    top:0;
    right: 0;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}
.smartbanner .close:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}